### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [39]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchasedata_df = pd.read_csv(file_to_load)
purchasedata_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [40]:
# number of unique players who purchased anything Should be like 576 or so.
totplayer_count = len(purchasedata_df["SN"].unique())
totplayer_count

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [41]:
#Number of Unique Items	Average Price	Number of Purchases	Total Revenue
#183	$3.05	780	$2,379.77

# Calculate the number of unique items for purchase
item_count = len(purchasedata_df["Item ID"].unique())

# Calculate the number of Purchases
purchase_count = len(purchasedata_df["Purchase ID"].unique())

# Calculate the Total revenue generated (Sum of the list of prices)
total_revenue = sum(purchasedata_df["Price"])

# average price transaction
average_revenue = (total_revenue/purchase_count)

#Summary Data Frame for The Above
summary_df = pd.DataFrame({"Number of Unique Items": [item_count],
                              "Average Price": average_revenue,
                              "Number of Purchases": purchase_count,
                              "Total Revenue": total_revenue})
summary_df

# Display the most/least expensive prices (EXTRA - i want to display this after the summary)
mostexpensive_price = purchasedata_df["Price"].max()
leastexpensive_price = purchasedata_df["Price"].min()

print (mostexpensive_price)
print (leastexpensive_price)

# Display the Most expensive item Id, Item name, and Price (EXTRA - i want to display this after the summary)
#XXX
#XXX

#purchasedata_df.loc[purchasedata_df["Price"].idmax()]
print (purchasedata_df[purchasedata_df["Price"]==purchasedata_df["Price"].max()])
print (purchasedata_df[purchasedata_df["Price"]==purchasedata_df["Price"].min()])

4.99
1.0
     Purchase ID        SN  Age Gender  Item ID       Item Name  Price
189          189  Hiasri33   23   Male       63  Stormfury Mace   4.99
554          554  Dyally87   22   Male       63  Stormfury Mace   4.99
     Purchase ID       SN  Age  Gender  Item ID                   Item Name  \
63            63    Alo38   20    Male      125  Whistling Mithril Warblade
418          418  Marim28   25  Female      125  Whistling Mithril Warblade

     Price
63     1.0
418    1.0

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [43]:
#total Count	Percentage of Players
#Male	484	84.03%
#Female	81	14.06%
#Other / Non-Disclosed	11	1.91%

#Shows count of unique Screenames
unique_df = purchasedata_df.loc[:,["SN","Gender","Age"]]

uniquepurchasedata = unique_df.drop_duplicates()
uniquepurchasedata.head()

len(uniquepurchasedata)

#find all Players
player_count = uniquepurchasedata["Gender"].value_counts()

print (player_count)
percent_count = (player_count/totplayer_count)*100
#look up how to round(.map from second class ~.2%)
print (percent_count)


#summary df for all including totals, and percentages

#Key value pair list
summary_df = pd.DataFrame({"Total": player_count, "Percentage": percent_count})
summary_df

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64
Male                     84.027778
Female                   14.062500
Other / Non-Disclosed     1.909722
Name: Gender, dtype: float64

                       Total  Percentage
Male                     484   84.027778
Female                    81   14.062500
Other / Non-Disclosed     11    1.909722


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [97]:
#count number of purchses, average purchase per gender, total purchases per gender and the average spent by the gender

#groupby on Gender followed by a count, groupby gender take Mean of price column, followed by SUM by Price, followed by Total/Count  
#group by Object
GenderCount = purchasedata_df.groupby(["Gender"]).count()
GenderCountSum = purchasedata_df.groupby(["Gender"]).sum()
GenderCountAvg = purchasedata_df.groupby(["Gender"]).mean()

GenderCountPx= GenderCount["Price"]
GenderCountSum= GenderCountSum["Price"]
GenderCountAvg= GenderCountAvg["Price"]
GenderCountSumAvg = (GenderCountSum/summary_df["Total"])

NewDataFrame = pd.DataFrame({"Purchase Count":GenderCountPx, 
                             "Total Spent": GenderCountSum, 
                             "Avergage Price": GenderCountAvg, 
                             "Average spent by individual": GenderCountSumAvg})

NewDataFrame

,Purchase Count,Total Spent,Avergage Price,Average spent by individual
Gender,,,,
Female,113,361.94,3.203009,4.468395
Male,652,1967.64,3.017853,4.065372
Other / Non-Disclosed,15,50.19,3.346000,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [87]:
#Total Count	Percentage of Players
#<10	17	2.95%
#10-14	22	3.82%
#15-19	107	18.58%
#20-24	258	44.79%
#25-29	77	13.37%
#30-34	52	9.03%
#35-39	31	5.38%
#40+	12	2.08%

#bins in which the data will be held
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 100]

#group Names for each bin
group_names = ("<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+")

#I NEED TO Count and Sort and add Percentage

uniquepurchasedata["counts"] = pd.cut(purchasedata_df["Age"], bins, labels=group_names)

#uniquepurchasedata.value_counts()

#print(uniquepurchasedata)

UniqueCounts= uniquepurchasedata["counts"].value_counts()

Ucounts_df = pd.DataFrame({"Total": UniqueCounts, "Percentage of total":100*UniqueCounts/totplayer_count}).sort_index() 

Ucounts_df

C:\Users\ppool\Anaconda3\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

       Total  Percentage of total
<10       17             2.951389
10-14     22             3.819444
15-19    107            18.576389
20-24    258            44.791667
25-29     77            13.368056
30-34     52             9.027778
35-39     31             5.381944
40+       12             2.083333

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [96]:
#Purchase Count	Average Purchase Price	Total Purchase Value	Avg Total Purchase per Person
#Age Ranges				
#<10	23	$3.35	$77.13	$4.54
#10-14	28	$2.96	$82.78	$3.76
#15-19	136	$3.04	$412.89	$3.86
#20-24	365	$3.05	$1,114.06	$4.32
#25-29	101	$2.90	$293.00	$3.81
#30-34	73	$2.93	$214.00	$4.12
#35-39	41	$3.60	$147.67	$4.76
#40+	13	$2.94	$38.24	$3.19


Ucounts_df= pd.DataFrame(
                        {"Purchase Count": [""],
                         "Purchase Price": [""],
                         "Purchase Value": [""],
                         "Average Purchase per Person": [""]})
                       index = [Ucounts_df[""], bins, labels=group_names]
Ucounts_df

IndentationError: unexpected indent (<ipython-input-96-02bd546c680f>, line 18)

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [106]:
#create a DF:  each SN, the count of purchases, average purchase price and the total they spent

SNCountPx = purchase_df(["SN"]).count()
SNCountSum = purchase_df(["SN"]).sum()
SNCountAvg = purchase_df(["SN"]).mean()



TopSpenders_df = pd.DataFrame({"Purchase Count":SNCountPx, 
                             "Total Spent": SNCountSum, 
                             "Avergage Price": SNCountAvg})
                            
TopSpenders_df

NameError: name 'purchase_df' is not defined

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [100]:
PurchaseCount = purchasedata_df.groupby(["Item Name"]).count()
PurchaseTot = purchasedata_df.groupby(["Item Name"]).sum()
PurchasedataPx = purchasedata_df["Price"]

MostPop_df = pd.DataFrame({"Item ID":purchasedata_df["Item Id"],
                         "Item Name": purchasedata_df["Item Name"],
                           "Purchase Count": PurchaseCount,
                           "Item Price": PurchasedataPx,
                           "Total Purchase Value": PurchaseTot )}
MostPop_df

SyntaxError: invalid syntax (<ipython-input-100-1cbff571c226>, line 9)

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [10]:
XXX

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80